VITE_FIREBASE_API_KEY=your_api_key_here
VITE_FIREBASE_AUTH_DOMAIN=stun-clean.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=stun-clean
VITE_FIREBASE_STORAGE_BUCKET=stun-clean.appspot.com
VITE_FIREBASE_MESSAGING_SENDER_ID=your_sender_id
VITE_FIREBASE_APP_ID=your_app_id